@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  color: #555;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 600px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 4fr 4fr;
  grid-auto-rows: 1fr;
  grid-gap: 1.2rem;
  padding: 1.5rem;
}
@media screen and (min-width: 426px) {
  .wrapper {
    width: 320px;
    height: 600px;
    border-radius: 1.5rem;
    box-shadow: 0.3rem 0.3rem 0.7rem 0 #888, -0.3rem -0.3rem 0.7rem 0 #fff;
  }
}
.wrapper * {
  grid-column: span 6;
  background-color: transparent;
  border: none;
  box-shadow: 0.3rem 0.3rem 0.7rem 0 #888, -0.3rem -0.3rem 0.7rem 0 #fff;
}
h1 {
  text-align: center;
  box-shadow: none !important;
  text-shadow: 0.2rem 0.2rem 0.3rem #666, -0.2rem -0.2rem 0.3rem #fff;
  color: #ccc;
  letter-spacing: 0.1rem;
}
textarea {
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
  resize: none;
  /* font-size: 1rem; */
  transition: box-shadow 0.2s;
}
textarea::placeholder {
  text-align: center;
  transition: color 0.2s;
}
textarea:focus::placeholder {
  color: #aaa;
}

input {
  border-radius: 0.5rem;
  padding: 0 1rem 0;
  text-align: center;
  transition: box-shadow 0.2s;
  letter-spacing: 0.1rem;
  /* box-shadow: none !important; */
}
input::placeholder {
  letter-spacing: 0 !important;
  transition: color 0.2s;
}
input:focus::placeholder {
  color: #aaa;
}
input.active {
  /* box-shadow: inherit !important; */
}

button {
  grid-column: span 2 !important;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: box-shadow 0.2s, color 0.2s;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
#enc_btn,
#dec_btn {
  grid-column: span 3 !important;
}
button:active {
  box-shadow: 0.1rem 0.1rem 0.3rem 0 #888, -0.1rem -0.1rem 0.3rem 0 #fff;
}
button:focus,
textarea:focus,
input:focus {
  outline: none;
  box-shadow: 0.1rem 0.1rem 0.3rem 0 #888, -0.1rem -0.1rem 0.3rem 0 #fff;
}

.wrapper.desktop button#share_btn {
  display: none !important;
}

.wrapper.desktop button#copy_btn,
.wrapper.desktop button#reset_btn {
  grid-column: span 3 !important;
}
